body {
    background-image: url(../img/fondo-dos.jpg);
    background-repeat: repeat;
    background-size: 400px 400px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    width: auto;
    height: auto;
}

#contenedor {
    background-color: rgba(76, 148, 231, 0.7);
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
}

a {
    text-align: center;
}

a:hover {
    color: rgb(0, 45, 193);
}

a:active {
    color: rgb(23, 71, 175);
}

a:visited {
    color: rgb(194, 233, 255);
}
