body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
    color: #7bb5cc;
}

.contenedor {
    width: 75%;
    margin: 0 auto;
    background-color: rgb(218, 244, 255);
    color: rgba(20, 49, 78, 0.9);
    padding: 20px;
    border-radius: 10px;
}

nav {
    background-color: #01366f;
    color: white;
    padding: 5px;
    display: inline-block;
    border:#123357 solid 5px;
    border-radius: 5px;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Barlow', sans-serif;
}
nav ul li a {
    color: white;
    text-decoration: none;
    
}

nav a:hover {
    color: #3fd4e8;
}

h2, h3 {
    font-family: 'Barlow', sans-serif;
    color: #2f68a5;
}

h1 {
    margin-bottom: 30px;
    font-size: 32px;
    position: relative;
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    color: #01366f;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.columnas {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.columnasUno {
    padding: 15px;
    background-color: #a5d0fe;
    width: 25%;
    border-radius: 2px;
}

#cita {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background-color: #2f68a5;
    padding: 28px;
    color: rgb(234, 242, 255);
    border-radius: 5px;

}

article img {
    width: 90%;
    height: auto;
    border: 5px solid #d6e9fd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

#imagen {
    display: block;
    margin: 0 auto;
}

footer {
    margin-top: 20px;
}

address p, address p a {
    font-family: 'Barlow', sans-serif;
}

#columnaDos {
    padding: 15px;
    background-color: #a5d0fe;
    width: 75%;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

#columnaTres {
    padding: 15px;
    background-color: #a5d0fe;
    width: 25%;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

/* css de la galería de imágenes */

#obras {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#obraTamaño[i] {
    width: 500px;
    height: auto;
}

#personalizar {
    background-color: #2f68a5;
    font-family: 'Barlow', sans-serif;
    color: #b9dfee;
    padding: 10px;
    border: #123357;
    border-radius: 2px;
}

#personalizar:hover {
    color: aqua;
}

/* css de la página de datos curiosos + sus interacciones */

#contenedorDatos {
    padding: 15px;
    background-color: #a5d0fe;
    width: 75%;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}
#contenedorDatos #datoCurioso {
    background-color: #2f68a5;
    color: #f2f8ff;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    padding: 15px;
}

#botonDato {
    background-color: #2f68a5;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #b9dfee;
    padding: 10px;
    border: #123357;
    border-radius: 2px;
}

#botonDato:hover {
    color: aqua;
}

#contenedorImagenes {
    padding: 15px;
    background-color: #a5d0fe;
    width: 25%;
    border-radius: 2px;
}

/* CSS del ejercicio (formularios) */

form {
	background: #afe0ff;
	border: 0.4em solid #2f68a5;
	padding: 1em;
}
fieldset {
	background: #96c9ff;
	border: 0.2em solid #2f68a5;
	margin: 1em 0;
    font-family: 'Barlow', sans-serif;
}

form button {
	background-color: #2f68a5;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #b9dfee;
    padding: 10px;
    border: #123357;
    border-radius: 2px;
    margin-top: 15px;
}

form button:hover {
    color: aqua;
}

#calcular {
    background-color: #2f68a5;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #b9dfee;
    padding: 10px;
    border: #123357;
    border-radius: 2px;
    margin-top: 15px;
}

#calcular:hover {
    color: aqua;
}

#reinicio {
    background-color: #2f68a5;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #b9dfee;
    padding: 10px;
    border: #123357;
    border-radius: 2px;
    margin-top: 15px;
}

#reinicio:hover {
    color: aqua;
}
